/bin/
/bin_test/*
bin_test
!generated/
generated/*
generated/
/generated/
.cache-main
.cache-tests
.classpath
.project
/.settings/
.settings/
.DS_Store
.gradle/
.metadata
/.idea/
build/
out/
bin/
*.iml
/skysail.server/.cache-main
