<div class="ui-g-12 ui-md-2" style="border:0px dotted gray; height:100%;">
  <app-leftmenu></app-leftmenu>
  <!--<a routerLink="sub" routerLinkActive="active">App</a><br>
  <a routerLink="sub2" routerLinkActive="active">Dash</a>-->
</div>
<div class="ui-g-12 ui-md-10" style="border: 0px solid blue">
  <!--<div class="ui-g-12">
    <p-breadcrumb [model]="items"></p-breadcrumb> breadcrumb
  </div>-->
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="ui-g-12 ui-g-nopad" style="border: 0px solid green">

</div>