<div class="ui-g" style="height:100%;">
    <div class="ui-g-12 ui-g-nopad">
        <navbar></navbar>
    </div>
    <div class="ui-g-12 ui-g-nopad">
        <router-outlet></router-outlet>
    </div>
   <!-- <div class="ui-g-12 ui-md-2" style="border-right:1px dotted gray; height:100%;">
        <p-panelMenu [model]="leftmenuitems"></p-panelMenu>
    </div>
    <div class="ui-g-12 ui-md-10">
        <div class="ui-g-12">
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g">
              <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
        
    </div>-->
</div>